body {
    background-image: url(images/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;

  }
#header {
    text-align: center;
    background: #bde0fe;
    font-family: inter;
    padding: 15px 10px;
    border: 2px dotted blue;
    width: 250px;
    margin: auto;
    margin-bottom: 20px;
  }
  p {
    background-color: hsl(338.3, 100%, 84.3%);
    text-align: justify;
    font-style: italic;
    padding: 20px;
    border: 3px black;
    border-style:  dotted dashed groove double ;
    width: 500px;
    margin: auto;
  }

  span {
    font-weight: bold;
    color: rgb(156,102,68);
    margin-right: 5px;
    margin-left: 2px;
  }